<!DOCTYPE html>
        <head>
            <link href="/Images/Login.ico" rel="icon">
            <link href="/Styles/login.css" rel="stylesheet">
            <title>Login</title>
        </head>
        <body>
            <div>
                
                   <a href="/"><img src="/Images/home.jpg" id="firstimg"></a>
                

                
                    <h1>Please Enter your Details!</h1>
                
            </div>


            <form action="" method="post">
                <label>Username</label>
                <input type="text" placeholder="Enter username" name="uname">
                <br>
                <br>
                <label>Password&nbsp;</label>
                <input type="text" placeholder="Enter password" name="upassword">

                <br>
                <br>
                <button>Sign in</button>
            </form>
        </body>
</html>