<!DOCTYPE html>
        <head>
            <link href="/Images/register.ico" rel="icon">
            <link href="/Styles/registration.css" rel="stylesheet">
            <title>Registration</title>
        </head>

        <body>
            <div>
                    <a href="/"><img src="/Images/home.jpg"></a>
                    <h1>Please enter below details to Register yourself</h1>
            </div>
                    <form action="" method="post">
                        <input type="text" placeholder="Enter your email address" name="uname">
                        <br>
                        <br>
                        <input type="text" placeholder="Enter any password" name="upassword">
                        <br>
                        <br>
                        <h3>Select your Gender</h3>
                        <label>male</label>
                        <input type="radio" name="ugender" value="male">
                        <label>&nbsp;&nbsp;Female</label>
                        <input type="radio" name="ugender" value="female">
                        <label>&nbsp;&nbsp;Other</label>
                        <input type="radio" name="ugender" value="other">
                        <br>
                        <br>
                        <button>Register</button>

                    </form>
        </body>
</html>